@import "_mixin.scss";

a,
a:link {
    color: inherit;
    text-decoration: none;
}

.notext {
    display: none;
}

#i_nav {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    background: none;
    color: #fff;
    z-index: 9999;

    #logo {
        width: 30%;
        float: left;
        padding-left: 20px;
    }

    #gnb {
        width: 50%;
        float: right;

        li {
            width: 25%;
            float: left;
            font-size: 17px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 50px;
            text-align: center;
            position: relative;

            a {
                display: block;

                .en {
                    width: 100%;
                    opacity: 1;
                    z-index: 1;
                }

                .ko {
                    width: 100%;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }
            }
        }
    }
}

#i_nav:after {
    display: block;
    clear: both;
    content: '';
}

#visual {
    width: 100%;
    min-height: 800px;

    #visualimg {
        width: 100%;
        position: fixed;
        z-index: -1;

        img {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    #info {
        background: rgba(0, 0, 0, .5);
        width: 30%;
        height: 600px;
        text-align: center;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h3 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 30px;
            font-weight: bolder;
            text-transform: uppercase;
            border-bottom: 3px solid #fff;
            padding: 10px;
            width: 50%;
            margin: 0 auto;
            font-family: 'Noto Serif', serif;
        }

        h4 {
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 15px;
            line-height: 30px;
            letter-spacing: 1px;
            font-weight: bold;
            text-transform: uppercase;
            width: 100% !important;
        }

    }
}

#aboutme {
    width: 100%;
    height: 800px;
    background: #fff;
    position: relative;
    margin: 50px 0;
    .a_wrap{
        width:90%;
        margin:0 auto;
        div {
            width: 1/3*100%;
            height: 400px;
            padding: 100px 50px;
            float: left;
            // border: 1px solid #000;
            box-sizing: border-box;
            img{
                margin-left:80px;
            }
            h3{
                opacity:0;
                text-align: center;
                line-height:200px;
                font-size:50px;
                font-weight:bolder;
                text-transform: uppercase;
                font-family: 'Noto Serif', serif;
            }
            h4{
                text-transform: uppercase;
                font-size:30px;
                font-weight:bolder;
                border-bottom:2px solid #000;
                margin-bottom: 20px;
                letter-spacing: 3px;
                span{
                    color:#d76735;
                }

            }
            p{
                font-size:18px;
                font-weight:bold;
                line-height:40px;
                text-transform: uppercase;
            }
        }
    }
}

#myskill {
    width: 100%;
    height: 800px;
    background: #fff;
    position: relative;
    margin: 50px 0;
    h3{
        opacity:0;
        padding-top:50px;
        text-align: center;
        line-height:200px;
        font-size:50px;
        font-weight:bolder;
        text-transform: uppercase;
        font-family: 'Noto Serif', serif;
    }
    .s_wrap {
        width: 90%;
        margin: 0 auto;

        #skill1{
            width:30%;
            float:left;
            img{
                width:30%;
                float:left;
            }
            p{
                width:60%;
                float:right;
                margin-top:30px;
                font-size:18px;
                font-weight:bold;
                line-height:30px;
            }
        }
        #skill2{
            width:30%;
            float:left;
            margin:0 5%;
            img{
                width:30%;
                float:left;
            }
            p{
                width:60%;
                float:right;
                margin-top:30px;
                font-size:18px;
                line-height:30px;
                font-weight:bold;
            }
        }
        #skill3{
            width:30%;
            float:left;
            img{
                width:30%;
                float:left;
            }
            p{
                width:60%;
                float:right;
                margin-top:30px;
                font-size:18px;
                line-height:30px;
                font-weight:bold;
            }
        }
        #skill4{
            width:30%;
            float:left;
            margin:5% 0;           
            img{
                width:30%;
                float:left;
            }
            p{
                width:60%;
                float:right;
                margin-top:30px;
                font-size:18px;
                line-height:30px;
                font-weight:bold;
            }
        }
        #skill5{
            width:30%;
            float:left;
            margin:5%;
            img{
                width:30%;
                float:left;
            }
            p{
                width:60%;
                float:right;
                margin-top:30px;
                font-size:18px;
                line-height:30px;
                font-weight:bold;
            }
        }
        #skill6{
            width:30%;
            float:left;
            margin:5% 0;
            img{
                width:30%;
                float:left;
            }
            p{
                width:60%;
                float:right;
                margin-top:30px;
                font-size:18px;
                line-height:30px;
                font-weight:bold;
            }
        }
    }
}

#myportfolio {
    width: 100%;
    height: 800px;
    background: #ffffff;
    position: relative;
    margin: 50px 0;
    .f_wrap{
        width:90%;
        margin:0 auto;
        div {
            width: 1/3*100%;
            height: 400px;
            float: left;
            // border: 1px solid #fff;
            box-sizing: border-box;
            text-align: center;
            position: relative;
            h3{
                opacity:0;
                padding-top:50px;
                text-align: center;
                line-height:200px;
                font-size:50px;
                font-weight:bolder;
                text-transform: uppercase;
                font-family: 'Noto Serif', serif;
            }
            a{
                p{
                    width:300px;
                    margin:0 auto;
                    font-size:18px;
                    font-weight:bold;
                    line-height:40px;
                    text-transform: uppercase;
                    border:1px solid #000;
                    box-sizing: border-box;
                }                
            }
            .fa-mouse-pointer{
                font-size:30px;
                padding:10px;
                position: absolute;
                top:65%;
                left:70%;
            }
            img{
                width:100%;
            }
        }
        div:hover img{
            transition:all 0.3s;
            transform:scale(1.05,1.05);
            overflow:hidden;
        }
    }
}

#contactme {
    width: 100%;
    height: 800px;
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    margin: 50px 0;
    h3{
        opacity:0;
        padding-top:50px;
        text-align: center;
        line-height:200px;
        font-size:50px;
        font-weight:bolder;
        text-transform: uppercase;
        font-family: 'Noto Serif', serif;
    }
    div{
        border:5px solid #000;
        width:40%;
        height:400px;
        line-height:100px;
        margin:0 auto;
        font-size:30px;
        h4{
            letter-spacing: 3px;
            font-weight:bold;
            padding-left:100px;
            span{
                text-transform: uppercase;
            }
        }

    }
}

.i_footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(117, 117, 117, .5);
    color: #eee;
    font-size: 12px;
    text-transform: uppercase;
    z-index: 10;
    img{
        width:50px;
        position: fixed;
        bottom:120px;
        right:5%;
        opacity:0.5;
        display:none;
    }
    img:hover{
        opacity:1;
    }
}





// portfolio 페이지

#pf_nav {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    background: #000;
    color: #fff;
    z-index: 9999;

    #logo {
        width: 30%;
        float: left;
        padding-left: 20px;
    }

    #gnb {
        width: 50%;
        float: right;

        li {
            width: 25%;
            float: left;
            font-size: 17px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 50px;
            text-align: center;
            position: relative;

            a {
                display: block;

                .en {
                    width: 100%;
                    opacity: 1;
                    z-index: 1;
                }

                .ko {
                    width: 100%;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }
            }
        }
    }
}

#pf_nav:after {
    display: block;
    clear: both;
    content: '';
}

.wrap {
    margin-top: 50px;

    #p_main {
        width: 75%;
        float: right;

        .target {
            background: #ccc;
            height: 1000px;
            .p_img{
                width:50%;
                float:left;
                position: relative;
                img{
                    width:100%;
                }
                a{
                    width:25%;
                    height:30px;
                    line-height:30px;
                    text-align:center;
                    font-weight: bold;
                    display:block;
                    border:1px solid rgba(0,0,0,0);
                    box-sizing: border-box;
                    position: absolute;
                    bottom:0;
                    left:50%;
                    transform: translate(-50%,0);
                }
                a:hover{
                    border:1px solid rgba(0, 0, 0,1);
                    box-sizing:border-box;
                }
            }
            .detail{
                width:50%;
                float:right;
                padding-top:20%;
                line-height:30px;
                h3{
                    font-size:25px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                h4{
                    font-size:20px;
                    font-weight:bolder;
                }
                p{
                    width:70%;
                }
            }
        }

        .target:nth-child(even) {
            background: #eee;
        }
    }

    #p_nav {
        width: 25%;
        li {
            height: 100px;
            line-height:100px;
            font-size:20px;
            font-weight:bolder;
            text-transform: uppercase;
            border-bottom: 1px solid #666;
            color: #333;
            display: block;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
        }

        li:hover {
            background: #666;
            color: #fff;
        }
        #p_contact{
            img{
                width:25%;
            }
        }

    }
    }
}

.active {
    background: #666;
    color: #fff;
}
.whereis{
    background:#fff;
    color:#000 !important;
}






